@{
    ViewData["Title"] = "Home Page";
}


<canvas id="can"></canvas>

<div>
    <img src="500.jpg" />
</div>

<style>
    #can {
        border: 1px solid black;
    }
</style>

@section Scripts {

    <script>

        const img = new Image();   // Create new img element
        img.src = '500.jpg'; // Set source path

       
            
            
     

        
        window.addEventListener('load', (event) => {
            console.log('page is fully loaded');

           
                const canvas = document.getElementById('can');
                const ctx = canvas.getContext('2d')
                canvas.width = img.width;
                canvas.height = img.height;
                ctx.drawImage(img, 0, 0);
                ctx.fillRect(50, 50, 100, 100)
           

        });

        $(document).ready(function () {

            

        })

     //https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Basic_usage
     //https://www.html5canvastutorials.com/tutorials/html5-canvas-images/
    </script>

}